<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dreamleague.mobile" android:installLocation="auto" android:versionName="10.0" android:versionCode="10">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Dream League" android:icon="@drawable/ic_launcher"></application>
</manifest>